<h1 class="mainc">Welcome User</h1>
    <div class="container main">
        <h2 class="pb-2">Welcome to Easy Bank</h2>
        <h6 class="pb-3">Your trusted banking partner</h6>
            <div class="col-6 mx-auto pb-3 pt-3">
                <input type="text" class="form-control" id="acn" placeholder="Enter account number">
            </div>
            <div class="col-6 mx-auto pb-3 ">
                <input type="text" class="form-control" id="uname" placeholder="Enter Username">
            </div>
            <div class="col-6 mx-auto pb-3">
                <input type="password" class="form-control" id="pwd" placeholder="Enter Password">
            </div>
            <div>
                <button class="d-grid gap-2 col-3 mx-auto btn btn-success" onclick="Bank.checkBalance()">View Balance</button>
            </div>

            <div class="container row three">
                <div class="col-12 vc" id="result"></div>
            </div>
    </div>
