<div class="container-fluid body ">
	<div class="row">
		<div class="col-4"></div>
		<div class="col-4">
			<div class="main">
				<h2 class="mb-4">Welcome to Easy Bank</h2>
				<h6 class="mb-5">{{aim}}</h6>

				<input type="text" class="mb-3 first" id="acno" [(ngModel)]="acno" placeholder="Enter account number"> <br>
				<input type="password" class="mb-5 first" id="pwd" [(ngModel)]="pswd" placeholder="Enter Password"><br>
				<input type="button" value="Log In" class="col-8 btn mb-2" id="buttonlogin" (click)="login()"> <br>
				<a href="#">Forgot password?</a> <br>
				<input type="button" value="Create New Account" class="col-8 btn mt-4" id="buttonsignin"> <br>
			</div>
		</div>
	</div> 
</div>

